/*
 * This CSS is shit. Obviously in the actual project this will be SASS.
*/

body {
	margin:0;
	padding:0;
	font-family:Arial, sans-serif;
	color:#222;
	background: #111;
}

a {
	color: #ffccbb;
}

h1 {
	text-align: center;
	color: #fff;
}

#filters {
	margin:2em 0;
	padding: 0;
}

#filters li {
	display: inline;
	margin:1em;
}

#talks-list {

	margin:0 20%;
	min-width: 400px;
	background: #333;
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding:1em;
	position: relative;

}

#collapse-all {

	float: right;

}

.item {
	background: #888;
	border: 1px solid #222;
	padding: 1em;
	margin:0.2em 0;
	position: relative;
}

.more {
	display:none;
}

.item.future {
	background: #998;
}

.item .toggle {

	border-radius: 3px;
	background-color: #000;
	padding: 5px;
	font-weight: bold;
	text-decoration: none;
	float: left;
	margin: 0 1em 1em 0;

}

.item h3 {

	margin:0;
	color:#ddd;

}

.item.future h3 {
	color:#fff;
}

.item h3 small {
	color:#333;
	font-size:0.7em;
}

.item h4 {

	font-size: 0.6em;
	position: absolute;
	top: 1em;
	right: 1em;
	text-align:right;
	width: 20%;

}

.item.expanded .more {
	display: block;
}

.item .taglist {
	text-align: right;
}

.item .tag {

	text-align: right;
	font-size: 0.8em;
	display: inline-block;
	border-radius: 3px;
	padding: 10px;
	font-size: 0.7em;
	background-color: #cce;
	text-align: right;
	color: #000;
	text-decoration: none;

}
