<!doctype html>
<html>
<head>
<base href="//localhost/talksdemo/" />

<title>Simple Backbone Tutorial</title>

<link rel="stylesheet" href="css/style.css" />

</head>

<body>

<div id="talks-list">
	<h1>Lightning Talks</h1>


	<button id="collapse-all">Collapse all</button>

	<ul id="filters">
		<li><a href="" data-type="clear">Clear filter</a></li>
		<li><a href="tag/js" data-type="js">js</a></li>
		<li><a href="tag/css" data-type="css">css</a></li>
		<li><a href="tag/python" data-type="python">python</a></li>
	</ul>


	<!--

	This is an empty container that TalkListView will use internally as _listContainer
	The individual list items will be rendered into here by TalkListView.render()

	-->
	<div id="list">


	</div>

	<!--

	This is a client-side template definition for use by our TalkListItem view.
	It has a 'text/template' type which means it will not be parsed as Javascript,
	nor will it be rendered by itself.  The <%= variables %> correspond to properties
	of the Talk model and are replaced at runtime by the _.template() method.

	-->
	<script type="text/template" id="talk-item-template">

		<a href="#" class="toggle">+</a>

		<h3><%= title %> <small><%= speaker %></small></h3>
		<h4><%= date %></h4>

		<div class="more">

			<p><%= summary %></p>
			<p class="taglist"><a href="tag/<%= tag %>" data-type="<%= tag %>" class="tag"><%= tag %></a></p>

		</div>

	</script>
</div>

<!-- utility libraries -->
<script src="js/libs/underscore-min.js"></script>
<script src="js/libs/jquery.min.js"></script>
<script src="js/libs/backbone-min.js"></script>

<!-- some dummy data to work with in place of an actual backend -->
<script src="stub/dummy_data.js"></script>

<!-- our application files -->
<script src="js/src/model/model.talk.js"></script>
<script src="js/src/view/view.talklist.js"></script>
<script src="js/src/view/view.talk.js"></script>
<script src="js/src/router/router.app.js"></script>

<!-- APP STARTS HERE -->
<script>

	// instantiate the router to get the app up and running
	var go = new TalkRouter();
	var start = Backbone.history.start({root: "/talksdemo/", pushState: true});
	console.log('App started', start, Backbone.history);

</script>

</body>
</html>